:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: 0 auto var(--spacing-500) auto;
}

:host > svg {
  display: none;
}

input[type="text"],
textarea,
select {
  display: block;
  border: 2px solid var(--s2-gray-200);
  border-radius: var(--s2-radius-100);
  line-height: 32px;
  margin: 0 0 var(--spacing-400);
  box-sizing: border-box;
}

textarea {
  width: 100%;
  min-height: 240px;
  resize: vertical;
  font-size: var(--s2-font-size-100);
  line-height: 2;
  padding: 6px 12px;
  box-sizing: border-box;
  font-family: monospace;
  overflow-y: scroll;
}

.delete-toggle {
  background: #ff5d4b;
  border-radius: 8px;
  line-height: 32px;
  padding: 0 10px;
  color: #FFF;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 6px;
}

.delete-toggle input {
  margin: 0;
  width: 12px;
  height: 12px;
  display: block;
}

.delete-toggle label {
  font-size: 14px;
  display: block;
}

select {
  border: 2px solid var(--s2-gray-200);
  border-radius: var(--s2-radius-100);
  font-family: var(--body-font-family);
  font-size: var(--s2-font-size-200);
  font-weight: 700;
  padding: 0 6px;
  box-sizing: border-box;
  margin: 0;
  min-width: 120px;
  height: 32px;
}

.da-bulk-action-submit {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 12px;
  margin: 0 0 var(--spacing-400);
}

.da-bulk-action-submit button {
  min-width: 80px;
}

.detail-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin: 0 0 var(--spacing-400);
}

.detail-card {
  display: flex;
  justify-content: space-between;
  background: rgb(215 247 225);
  border-radius: 18px;
  overflow: hidden;
  padding: var(--spacing-400);
}

.detail-card-remaining {
  background: rgb(202 248 250);
}

.detail-card-total {
  background: rgb(181 230 252);
}

.detail-card-errors {
  background: rgb(255 214 209);
}

.detail-card .cancel-button {
  margin: 0;
  padding: 0;
  min-width: 72px;
  border-radius: var(--s2-radius-100);
  border: none;
  background: rgb(0 0 0 / 10%);
}

.detail-card h3,
.detail-card p {
  margin: 0;
  line-height: 1;
}

.detail-card h3 {
  margin-bottom: var(--spacing-100);
}

.detail-card p {
  font-size: var(--s2-font-size-600);
}

.url-list {
  display: none;
  background: rgb(215 247 225);
  border-radius: 18px;
  overflow: hidden;
  padding: var(--spacing-400);
  margin: 0 0 var(--spacing-400);
}

.url-list.is-expanded {
  display: block;
}

.url-list-remaining {
  background: rgb(202 248 250);
}

.url-list-errors {
  background: rgb(255 214 209);
}

.url-list h2 {
  margin-top: 0;
  line-height: 1;
}

.urls-result {
  list-style: none;
  margin: 0;
  padding: 0;
}

.urls-result li {
  display: flex;
  justify-content: space-between;
  line-height: 32px;
  margin: 0 0 4px;
  gap: 24px;
}

.urls-result li:last-child {
  margin: 0;
}

.url-path {
  white-space: nowrap;
  overflow-x: hidden;
}

.urls-result .url-status {
  background: rgb(0 0 0 / 40%);
  color: rgb(255 255 255);
  border-radius: 4px;
  padding: 0 8px;
  font-weight: 700;
  min-width: 50px;
  text-align: center;
  user-select: none;
}

.detail-card-actions {
  display: flex;
  gap: 12px;
}

.toggle-list-icon {
  display: block;
  border: 0;
  padding: 0;
}

.toggle-list-icon svg {
  width: 18px;
  height: 18px;
  transition: transform .2s ease-in-out;
}

.is-expanded .toggle-list-icon svg {
  transform: rotate(90deg);
}
