:host {
  color: #000;
  font-size: 11px;
  margin-top: 13px;
  -webkit-font-smoothing: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  width: 20px;
  height: 20px;
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
}

.nx-link {
  text-align: center;
  text-decoration: none;
  display: grid;
  justify-content: center;
  justify-items: center;
  line-height: 1.7;
  color: rgb(75 75 75);
  padding-bottom: 2px;
}

.nx-link-icon {
  border-radius: var(--s2-radius-100);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transition: 0.2s background-color, color 0.2s;
}

.nx-link:hover .nx-link-icon {
  background-color: var(--s2-gray-200);
}
