:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-400) auto;
}

.nx-project-actions {
  margin-bottom: var(--spacing-400);
  display: flex;
  gap: var(--spacing-100);
  min-height: 32px;
}

section.nx-lang-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
