:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

nx-loc-sync,
nx-loc-translate,
nx-loc-rollout {
  background: #f7f7f7;
  display: block;
  border-radius: 16px;
  padding: var(--spacing-400);
  margin-bottom: var(--spacing-400);
}

.da-loc-detail-org {
  color: #676767;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.da-loc-detail-title {
  line-height: 1;
  font-size: 36px;
  margin-bottom: var(--spacing-400);
}
