:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-400) auto;
}

.nx-action-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-400);
}

.nx-status {
  margin: 0;
  line-height: 32px;
  background-color: #1b9297;
  color: #FFF;
  border-radius: var(--s2-radius-100);
  padding: 0 12px;
}

.nx-project-actions {
  display: flex;
  gap: var(--spacing-100);
  min-height: 32px;
}

section.nx-lang-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
