.nx-card {
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 3px 6px 0 rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 8%);
  padding: var(--spacing-400);
  border-radius: var(--corner-radius-300);
  overflow: hidden;
  background-color: #FFF;
}

.nx-card-inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  gap: var(--spacing-400)
}

.nx-card-picture-container {
  position: relative;
  border-radius: var(--corner-radius-100);
  overflow: hidden;
  padding-bottom: 60%;
}

.nx-card-picture-container picture {
  position: absolute;
  inset: 0;
}

.nx-card-picture-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nx-card-content-container :first-child {
  margin-top: 0;
}

.nx-card-content-container :last-child {
  margin-bottom: 0;
}

.nx-card-cta-container {
  margin: 0;
  display: flex;
  justify-content: end;
}


.nx-card-cta-container strong a {
  background-color: var(--spectrum-blue-800);
  border-radius: 16px;
  border: 2px solid var(--spectrum-blue-800);
  border-color: var(--spectrum-blue-800);
  color: #FFF;
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding: 5px 14px;
  text-decoration: none;
  outline-offset: 0;
  outline-color: var(--spectrum-blue-800);
  transition: outline-offset .2s;
}

.nx-card-cta-container strong a:focus {
  background-color: #3b63fb;
  border: 2px solid #3b63fb;
  outline-offset: 4px;
}
