:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-500) auto;
}

form {
  display: flex;
  gap: var(--spacing-400);
}

input {
  font-family: var(--body-font-family);
  flex: 1 1 auto;
  display: block;
  border: 2px solid var(--s2-gray-200);
  border-radius: var(--s2-radius-100);
  padding: 0 8px;
  height: 32px;
  margin: 0;
  box-sizing: border-box;
}

.totals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.da-list-actions {
  display: flex;
  gap: var(--spacing-400);
}

.da-list-actions button {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li .details {
  background: var(--s2-gray-75);
  border-radius: var(--s2-radius-100);
  display: flex;
  margin-bottom: var(--spacing-200);
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-400);
}

li a {
  user-select: none;
}

li .details.hide {
  display: none;
}
