:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto var(--spacing-800) auto;
}

:host > svg {
  display: none;
}

h1 {
  font-size: var(--type-heading-xxl-size);
  line-height: var(--spectrum-line-height-100);
  margin: 0 0 6px;
}

h2 {
  margin: 0 0 8px;
}

p {
  font-size: var(--s2-font-size-200);
  line-height: var(--type-body-m-lh);
  margin: 0 0 24px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 480px;
  background: var(--s2-gray-50);
  border: 2px solid var(--s2-gray-200);
  border-radius: var(--s2-radius-100);
  line-height: 2;
  padding: 10px 18px;
  box-sizing: border-box;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: calc(var(--s2-font-size-600) * var(--type-margin-multiplier));
}

select {
  display: block;
  border: 2px solid var(--s2-gray-200);
  border-radius: var(--s2-radius-100);
  font-family: var(--body-font-family);
  font-size: var(--s2-font-size-200);
  font-weight: 700;
  padding: 0 6px;
  box-sizing: border-box;
  margin: 0;
  min-width: 120px;
  height: 32px;
  line-height: 32px;
}

.cors-note {
  background: var(--s2-blue-800);
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
}

input[type="file"] {
  margin-bottom: var(--spacing-200);
}

input[type="text"] {
  font-family: var(--body-font-family);
  display: block;
  background: var(--s2-gray-50);
  border: 2px solid var(--s2-gray-200);
  border-radius: var(--s2-radius-100);
  line-height: 32px;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--spacing-200);
}

.form-row {
  margin-bottom: 32px;
}

.org-repo-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.url-list {
  display: none;
}

.url-list.is-expanded {
  display: block;
}

.results {
  list-style: none;
  margin: 0 0 48px;
  padding: 0;
}

.da-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;
}

.da-title-row h2 {
  margin: 0;
}

.results li {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 64px 64px;
  margin-bottom: var(--spacing-400);
}

.results li:first-child {
  font-weight: 700;
}

.status {
  text-align: center;
  border-radius: var(--s2-radius-100);
  user-select: none;
}

.status-200,
.status-201 {
  color: #fff;
  background: #00773f;
}

.status-404,
.status-500,
.status-error {
  text-transform: uppercase;
  color: #fff;
  background: #f73b26;
}

.status-redir {
  text-transform: uppercase;
  color: #fff;
  background: #2870d4;
}

.status-403 {
  color: #fff;
  background: #da5f00;
}

.link {
  text-align: right;
}

.link a {
  user-select: none;
}

dialog {
  border-radius: 8px;
  border: none;
}

/* Cards */
.detail-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin: 0 0 var(--spacing-400);
}

.detail-card {
  display: flex;
  justify-content: space-between;
  background: rgb(215 247 225);
  border-radius: 18px;
  overflow: hidden;
  padding: var(--spacing-400);
}

.detail-card-remaining {
  background: rgb(202 248 250);
}

.detail-card-total {
  background: rgb(181 230 252);
}

.detail-card-errors {
  background: rgb(255 214 209);
}

.detail-card-success {
  background: rgb(202 255 164);
}

.detail-card .cancel-button {
  margin: 0;
  padding: 0;
  min-width: 72px;
  border-radius: var(--s2-radius-100);
  border: none;
  background: rgb(0 0 0 / 10%);
}

.detail-card h3,
.detail-card p {
  margin: 0;
  line-height: 1;
}

.detail-card h3 {
  margin-bottom: var(--spacing-100);
}

.detail-card p {
  font-size: var(--s2-font-size-600);
}

.toggle-list-icon {
  display: block;
  border: 0;
  padding: 0;
}

.toggle-list-icon svg {
  width: 18px;
  height: 18px;
  transition: transform 0.2s ease-in-out;
}

.is-expanded .toggle-list-icon svg {
  transform: rotate(90deg);
}
