:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto var(--spacing-800) auto;
}

h1 {
  font-size: var(--type-heading-xxl-size);
  line-height: var(--spectrum-line-height-100);
  margin: 0 0 6px;
}

h2 {
  margin: 0 0 8px;
}

p {
  font-size: var(--s2-font-size-200);
  line-height: var(--type-body-m-lh);
  margin: 0 0 24px;
}

textarea {
  display: block;
  width: 100%;
  min-height: 480px;
  background: var(--s2-gray-50);
  border: 2px solid var(--spectrum-gray-200);
  border-radius: 8px;
  line-height: 2;
  padding: 10px 18px;
  box-sizing: border-box;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: calc(var(--s2-font-size-600) * var(--type-margin-multiplier));
}

input[type="text"] {
  font-family: var(--body-font-family);
  display: block;
  background: var(--s2-gray-50);
  border: 2px solid var(--spectrum-gray-200);
  border-radius: 8px;
  line-height: 32px;
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
}

.form-row {
  margin-bottom: 32px;
}

.org-repo-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.results li {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 64px 64px;
  margin-bottom: var(--spacing-400);
}

.results li:first-child {
  font-weight: 700;
}

.status {
  text-align: center;
  border-radius: var(--corner-radius-100);
}

.status-200 {
  color: #FFF;
  background: #00773f;
}

.status-404 {
  color: #FFF;
  background: #f73b26;
}

.status-403 {
  color: #FFF;
  background: #da5f00;
}

.link {
  text-align: right;
}
