:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background: #FFF;
  border-radius: var(--s2-radius-300);
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 3px 6px 0 rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 8%);
}

.nx-lang-card-top {
  position: relative;
  background: var(--s2-gray-700);
  padding: var(--spacing-400);
  color: #FFF;
}

.nx-lang-card-label {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 14px;
  padding: 2px 8px;
  background: rgb(0 0 0 / 30%);
  text-transform: uppercase;
  border-radius: 4px 0 0 4px;
}

.nx-lang-status-rolling-out {
  background: #bf1a60;
}

.nx-lang-status-synced {
  background: #158ad4;
}

.nx-lang-status-complete {
  background: #00773f;
}

.nx-lang-card-middle {
  padding: var(--spacing-400) var(--spacing-400) 0 var(--spacing-400);
}

.nx-lang-card-actions {
  display: flex;
  justify-content: end;
  padding: var(--spacing-400);
}

.nx-card-totals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: var(--spacing-400);
}

.detail {
  font-size: var(--s2-font-size-100);
  line-height: 1;
  font-weight: 700;
  margin: 0 0 var(--spacing-100);
}

.nx-card-heading {
  font-size: var(--s2-font-size-400);
  line-height: 1;
  margin: 0 0 var(--spacing-400);
}

.nx-card-heading:last-of-type {
  margin-bottom: 0;
}

.nx-lang-card-locales {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-100);
}
