.nx-table {
  border: 2px solid #676767;
  border-radius: 8px;
  overflow: hidden;
}

.nx-table > div > div {
  display: flex;
}

.nx-table table {
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: 0;
  width: 100%;
  margin: -2px;
  flex: 1 0 auto;
}

.nx-table table tr:first-child {
  font-weight: 700;
  background: #efefef;
}

.nx-table th,
.nx-table td {
  border: 2px solid #676767;
  padding: 4px 8px;
}
