:root {
  --nx-background: rgb(245 245 245);

  /* Grid */
  --grid-container-width: 83.4%;
  --grid-column-width: calc(var(--grid-container-width) / 12);

  /* Typography */
  --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --type-body-m-size: 18px;
  --type-body-m-lh: 27px;

  --nx-nav-height: 70px;
  --nx-nav-sidebar-width: 72px;

  --nx-main-rounded-corners: 16px 16px 0 0;
  --nx-main--box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 700;
  size-adjust: 95%;
  src: local('Trebuchet MS Bold'),
       local('TrebuchetMSBold');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 400;
  size-adjust: 93%;
  src: local('Trebuchet MS'),
       local('TrebuchetMS');
}

body {
  margin: 0;
  background-color: var(--nx-background);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--type-body-m-size);
  line-height: var(--type-body-m-lh);
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.nx-nav {
  height: var(--nx-nav-height);
}

.nx-nav + main {
  background-color: #FFF;
  margin: 0 8px 0 var(--nx-nav-sidebar-width);
  border-radius: var(--nx-main-rounded-corners);
  box-shadow: var(--nx-main--box-shadow);
  overflow: scroll;
  max-height: 100%;
}

main > .section > .content {
  display: block;
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

@media (min-width: 1440px) {
  :root {
    --grid-container-width: 1200px;
  }
}

/* progressive section appearance */
main > div {
  display: none;
}

header, footer, .section {
  display: unset;
}
