:root {
  --nx-background: rgb(245 245 245);

  /* Grid */
  --grid-container-width: 83.4%;
  --grid-column-width: calc(var(--grid-container-width) / 12);

  /* Typography */
  --body-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --type-heading-all-weight: 700;
  --spectrum-line-height-100: 1.3;
  --spectrum-line-height-200: 1.5;
  --type-margin-start: 0.88;
  --type-margin-end: 0.25;
  --type-margin-end-default: 0.2em;

  /* Heading Sizing */
  --type-heading-xxl-size: 45px;
  --type-heading-xl-size: 36px;
  --type-heading-l-size: 28px;
  --type-heading-m-size: 22px;
  --type-heading-s-size: 18px;
  --type-heading-xs-size: 16px;

  /* S2 Heading Sizes */
  --s2-heading-size-300: 22px;
  --s2-heading-size-400: 24px;
  --s2-heading-size-500: 27px;
  --s2-heading-size-700: 34px;
  --s2-heading-size-900: 44px;
  --s2-heading-size-1100: 55px;
  --s2-heading-size-1300: 70px;

  /* Body Sizing */
  --s2-font-size-100: 17px;
  --s2-font-size-200: 19px;
  --s2-font-size-300: 22px;
  --s2-font-size-400: 24px;
  --s2-font-size-600: 31px;
  --s2-font-size-800: 39px;

  /* Nav */
  --nx-nav-height: 70px;
  --nx-nav-sidebar-width: 72px;

  /* Corners */
  --s2-radius-75: 4px;
  --s2-radius-100: 8px;
  --s2-radius-200: 10px;
  --s2-radius-300: 16px;

  /* Spacing */
  --spacing-50: 2px;
  --spacing-75: 4px;
  --spacing-100: 8px;
  --spacing-200: 12px;
  --spacing-300: 16px;
  --spacing-400: 24px;
  --spacing-500: 32px;
  --spacing-600: 40px;
  --spacing-700: 48px;
  --spacing-800: 64px;
  --spacing-900: 80px;
  --spacing-1000: 96px;

  /* Colors */
  --spectrum-blue-800: #4d7bff; /* Legacy */
  --s2-blue-800: #4d7bff;
  --s2-blue-900: #4b75ff;
  --s2-green: #009851;
  --s2-red: #f73b26;
  --s2-gray-50: #f7f7f7;
  --s2-gray-75: #f1f1f1;
  --s2-gray-200: #e1e1e1;
  --s2-gray-700: #505050;
  --s2-gray-800: #292929;
  --s2-gray-900: #121212;
}

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 700;
  size-adjust: 95%;
  src: local('Trebuchet MS Bold'),
       local('TrebuchetMSBold');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-weight: 400;
  size-adjust: 93%;
  src: local('Trebuchet MS'),
       local('TrebuchetMS');
}

body {
  margin: 0;
  background-color: var(--nx-background);
  color: var(--s2-gray-800);
  font-family: var(--body-font-family);
  font-size: var(--s2-font-size-200);
  line-height: var(--spectrum-line-height-200);
  word-wrap: break-word;
  display: grid;
  grid-template-rows: auto 1fr;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: var(--body-font-family);
}

/* Typography */
p, h1, h2, h3, h4, h5, h6 {
  margin-block: 0 var(--type-margin-end-default);
}

h1 {
  font-size: var(--s2-heading-size-1100);
  line-height: var(--spectrum-line-height-100);
}

h2 {
  font-size: var(--s2-heading-size-900);
  line-height: var(--spectrum-line-height-100);
}

h3 {
  font-size: var(--s2-heading-size-700);
  line-height: var(--spectrum-line-height-100);
}

h4 {
  font-size: var(--s2-heading-size-500);
  line-height: var(--spectrum-line-height-100);
}

h5 {
  font-size: var(--s2-heading-size-400);
  line-height: var(--spectrum-line-height-100);
}

h6 {
  font-size: var(--s2-heading-size-300);
  line-height: var(--spectrum-line-height-100);
}

.nx-app header {
  height: var(--nx-nav-height);
  z-index: 1000;
}

.nx-app main {
  background-color: #fff;
}

.no-shell main {
  min-height: 100vh;
}

.nx-app nx-sidenav {
  display: none;
  z-index: 1000;
}

.section {
  display: block;

  .content {
    display: block;
    max-width: var(--grid-container-width);
    margin: 0 auto;

    h1, h2, h3, h4, h5, h6 {
      margin-block: var(--spacing-600) var(--spacing-400);
    }

    p {
      margin-block: 0 var(--spacing-400);
    }

    li {
      margin-block: 0 var(--spacing-200);
    }

    li:last-of-type {
      margin-block: 0;
    }
  }
}

@media (width > 600px) {
  :root {
    --s2-heading-size-300: 18px;
    --s2-heading-size-400: 20px;
    --s2-heading-size-500: 22px;
    --s2-heading-size-700: 28px;
    --s2-heading-size-900: 36px;
    --s2-heading-size-1100: 45px;
    --s2-heading-size-1300: 58px;
    --s2-font-size-100: 14px;
    --s2-font-size-200: 16px;
    --s2-font-size-300: 18px;
    --s2-font-size-400: 20px;
    --s2-font-size-600: 25px;
    --s2-font-size-800: 32px;
  }

  body.nx-app {
    grid-template:
      "header header" var(--nx-nav-height)
      "sidenav main" 1fr / var(--nx-nav-sidebar-width) 1fr;
    height: 100vh;
  }

  .nx-nav {
    grid-area: header;
  }

  .nx-app nx-sidenav {
    display: unset;
    grid-area: sidenav;
  }

  .nx-app main {
    grid-area: main;
    margin: 0 8px 0 0;
    border-radius: var(--s2-radius-300) var(--s2-radius-300) 0 0;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    overflow-y: scroll;
    max-height: 100%;
  }
}

@media (width > 1440px) {
  :root {
    --grid-container-width: 1200px;
  }
}

/* progressive section appearance */
main > div,
main > div[data-status] {
  display: none;
}
