:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--nx-nav-height);
}

p {
  margin: 0;
}

:host > svg {
  display: none;
}

.nx-nav-brand {
  display: flex;
  gap: 11px;
  color: #fa0f00;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  padding-left: 24px;
}

.nx-nav-brand svg {
  margin-top: 2px;
  width: 25px;
  height: 24px;
}

.nx-nav-btn-sign-out {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  padding: 4px;
  margin-right: 17px;
}

.nx-nav-btn-sign-out img {
  max-width: 24px;
  border-radius: 12px;
  pointer-events: none;
}
