:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--nx-nav-height);
}

button {
  font-family: var(--body-font-family);
}

p {
  margin: 0;
}

:host > svg {
  display: none;
}

.nx-nav-brand {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #fa0f00;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  padding-left: 24px;
}

.nx-nav-brand svg {
  width: 25px;
  height: 24px;
}

.nx-nav-brand span {
  margin-bottom: 3px;
}

.nx-nav-actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nx-nav-help {
  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  background: transparent;
  border-radius: 5px;
}

.nx-nav-help:has(+ [data-loaded]) {
  display: flex;
}

.nx-nav-help:hover {
  background: #e1e1e1;
}

.nx-nav-help svg {
  width: 20px;
  height: 20px;
}
