:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--nx-nav-height);
}

button {
  font-family: var(--body-font-family);
}

p {
  margin: 0;
}

:host > svg {
  display: none;
}

.nx-nav-brand {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #fa0f00;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  padding-left: 24px;

  /* Adobe Home uses an SVG for text and this
   * helps match the slight difference in thickness */
  -webkit-font-smoothing: auto;
}

.nx-nav-brand svg {
  width: 25px;
  height: 24px;
}

.nx-nav-profile {
  position: relative;
  margin-right: 17px;
  font-size: 16px;
}

.nx-nav-profile-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 32px;
  background: #FFF;
  border-radius: var(--s2-radius-200);
  min-width: 320px;
  padding: var(--spacing-200) 0;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 3px 6px 0 rgb(0 0 0 / 4%), 0 4px 8px 0 rgb(0 0 0 / 8%);
}

.nx-nav-profile-menu.is-visible {
  display: block;
}

.nx-nav-profile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nx-nav-profile-menu button {
  background: none;
  border: none;
  display: block;
  width: 100%;
  text-align: left;
  line-height: 32px;
  padding: 0 var(--spacing-400);
}

.nx-nav-profile-menu button:hover {
  background: var(--s2-gray-75);
}

.nx-nav-btn-sign-in {
  line-height: 32px;
  padding: 0 12px;
  border: none;
  background: none;
  font-family: var(--body-font-family);
  font-weight: 700;
  border-radius: var(--s2-radius-100);
}

.nx-nav-btn-sign-in:hover {
  background: #dfdfdf;
}

.nx-nav-btn-profile {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: none;
  padding: 4px;
}

.nx-nav-btn-profile img {
  max-width: 24px;
  border-radius: 12px;
  pointer-events: none;
}
